@import "fonts.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'imperial', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

.nav_button {
  border-radius: 3px;
  color: #fff;
  font-family: 'franklin', Arial, Helvetica, sans-serif;
  padding: 10px;
  background-color: #567b95;
  border: solid #326891 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 3px;
  float: right;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.nav_button:hover {
  border: solid#326891 1px;
  background: #326891;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 43px;
  width: 100%;
  border-bottom: solid 1px rgb(100, 100, 100);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
}

.left_items {
  width: 300px;
  justify-content: space-around;
}

.left_items a {
  margin-right: 10px;
  color: #000;
}

.centered_items {
  width: auto;
}

.centered_items img {
  height: 30px;
}

.right_items {
  width: 300px;
  justify-items: right;
}

.nytLogo {
  height: 40px;
}

.image_center {
  margin: 120px auto 0 auto;
  width: 945px;
}

.text_article {
  width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}

.img_full {
  width: 100%;
}

.theory_grid {
  width: 945px;
  display: grid;
  grid-template-columns: repeat(4, 240px);
  grid-template-rows: repeat(4, 137px);
  background-image: url(../images/theoryImage.png);
  background-size: cover;
}

.theory_grid_item {
  font-family: 'franklin', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 15px;
  font-weight: 300;
  color: #000;
  padding-left: 0.5em;
}

.theory_grid_item .theoryTitle {
  font-size: 15px;
  font-weight: bold;
}

.theory_grid_block {
  grid-column-start: 1;
  grid-column-end: 5;
}

.caption {
  color: #666;
  font-size: 15px;
  line-height: 20px;
}

.main-tittle {
  font-size: 40px;
  font-family: 'chetelman', Arial, Helvetica, sans-serif;
  font-style: italic;
  line-height: 48px;
  color: #121212;
  font-weight: 700;
  width: 600px;
  margin: 0 auto;
}

.paragraph1 {
  font-family: 'imperial', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #333;
  padding: 0.4em;
}

.social-share {
  width: 600px;
  height: auto;
  margin: 25px auto 0 auto;
}

.social-icon {
  background-color: #eee;
  border-radius: 50%;
  margin: 5px;
  padding: 7px;
  width: 30px;
  height: 30px;
}

aside {
  width: 20%;
  height: 250px;
  float: right;
}

.editors-pick {
  float: left;
  width: 210px;
  height: 250px;
}

.editors-pick-article {
  height: 75px;
  width: 100%;
  margin-top: 20px;
}

.editors-pick-img {
  max-height: 75px;
  max-width: 75px;
}

iframe {
  width: 50vw;
  height: 33vw;
}

.footerNav,
.bottomFooter {
  width: 1100px;
  margin: auto;
  border-top: 1px solid #d3d3d3;
}

.footerNav .footerNavHeader {
  border-top: 2px solid #d3d3d3;
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.footerNavHeader .footerNavLogo {
  width: 230px;
}

.footerHomepage .homepageLink {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
}

.footerNavLinks {
  display: inline-flex;
}

.footerNavLinks .leftLinks {
  border-bottom: 1px solid #d3d3d3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1rem;
}

.footerNavLinks .subscribeSpam {
  padding: 0 20px;
  border-left: 1px solid #d3d3d3;
}

.listItem1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-top: 0.25rem;
  list-style-type: none;
  padding-right: 1em;
  padding-top: 0.75em;
}

.listItem2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin-top: 0.25rem;
  list-style-type: none;
}

.subscribeSpam .subscribeSpamSVG {
  display: inline-block;
  height: 13px;
  width: 13px;
  margin-right: 5px;
  vertical-align: middle;
}

.subscribeSpam .subscribeSpamLink {
  font-size: 15px;
  font-weight: 700;
}

.bottomFooter .bottomFooterContent,
.bottomFooterContent .LinksList,
.listItem {
  display: inline-block;
}

.listItem {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #6c6960;
}

<<<<<<< HEAD
p a {
  color: #326891;
=======
.footerNavLinks .subscribeSpam ul:nth-child(2),
.footerNavLinks .subscribeSpam ul:nth-child(3) {
  padding-top: 1rem;
  line-height: 2.1;
}

.footerNavLinks .subscribeSpam ul:nth-child(3) {
  border-top: 1px solid #d3d3d3;
>>>>>>> 5f52045470d66cb0a1de5e8f86df6d3e7d2044dc
}
