@import ".css/fonts.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'imperial';
  /*margin: 0px 5px 0px 5px;*/
  box-sizing: border-box;
}

.nav_button {
  border-radius: 3px;
  color: #fff;
  font-family: 'franklin';
  font-size: 11px;
  font-weight: 700;
  padding: 10px;
  background-color: #567b95;
  border: solid #326891 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 3px;
  float: right;
}

.nav_button:hover {
  border: solid#326891 1px;
  background: #326891;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 43px;
  width: 100%;    
  border-bottom: solid 1px rgb(100, 100, 100);  
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
}

.left_items {
  width: 300px;
  justify-content: space-around;
}

.left_items a {
  margin-right: 10px;
  color: #000;
}

.centered_items {
 width: 300px;
}

.centered_items img {
  height: 30px;
}

.right_items {
  width: 300px;
  justify-items: right;
}

.nytLogo {
  height: 40px;
}

header {  
  margin: 120px auto 0 auto;
  width: 945px;
}

.text_article {
  width: 550px;
  margin: 0 auto;
}

 figure img {
  width: 100%;
}